<section class="all-collections">
  <h1>FEATURED COLLECTIONS</h1>
  <div>
    {% for collection in collections %}
      <a href="{{ collection.url }}">
        <div class="collection-card">
          <img
            width="200"
            height="200"
            loading="lazy"
            src="{{ collection.featured_image | image_url}}"
          >
          <p>{{ collection.title }}</p>
        </div>
      </a>
    {% endfor %}
  </div>
</section>

<style>
  .all-collections {
    color: {{ section.settings.text_color }};
    text-align:center;
    margin: 50px 0;
  }

  .all-collections > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    font-weight: bold;
  }

  .all-collections > div a {
    text-decoration: none;
    color: #bdbdbd;
    transition: all 0.2s ease;
  }
  
  .all-collections > div > a:hover {
    opacity: 0.5;
  }

  .collection-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    max-width: 200px;
    background-color: #333333;
    border-radius: 12px;
  }

  .collection-card img {
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }

  .collection-card p {
    display: inline-block;
    max-width: 150px;
  }
</style>

{% schema %}
{
  "name": "all-collections",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#333333"
    }
  ],
  "presets": [
    {
      "name": "all-collections"
    }
  ]
}
{% endschema %}