{%- if section.settings.show_announcement -%}
  <section class="announcement-bar">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet ab possimus sapiente commodi, pariatur iusto cum beatae dolores quisquam asperiores neque ipsum quod totam? Fugit, dolores! Ullam nostrum iste beatae.
  </section>

  <style>
    .announcement-bar {
      background: {{ section.settings.background }};
      color: {{ section.settings.text_color }};
      width: 100%;
      border-radius: 5px;
      margin: 10px 0;
    }
  </style>

  <script></script>
{%- endif -%}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },
    {
      "type": "color",
      "id": "background", 
      "label": "Background",
      "default": "#ffffff"
    }
  ]
}
{% endschema %}