<nav>
  {% render 'header' %}
</nav>

<style>
  .header-nav {
    display: flex;
    justify-content: space-around;
  }

  .header-search {
    display: flex;
    align-items: center;
  }
</style>


{% schema %}
  {
    "name": "Navbar",
    "settings": [],
    "presets": []

  }
{% endschema %}